/* starting variables for the site */
@font-face {
  font-family: Monllis;
  src: url("Moonllys@fontsclub.ttf");
}
@font-face {
  font-family: Pelakfa;
  src: url("PelakFA-Regular.ttf");
}
:root {
  --white: #f9faff;
  --platinum: #e3e4e8;
  --windsurfing: #32779b;
  --marina: #5a91c7;
  --gray: #9a9a9a;
  --onyx: #3c3d44;
  --charcoal: #343c47;
  --ld-bkgd: light-dark(var(--platinum), var(--charcoal));
  --ld-text: light-dark(var(--onyx), var(--white));
  --ld-projects: light-dark(var(--white), #2e313d);
  --ld-blue: light-dark(var(--windsurfing), #6dadd0);
  --corners: 24px 0;
  --corners-sm: 10px 0;
  --base-font-size: 1rem;
  --base-font: Monllis, Pelakfa;
  --ld-transition: light-dark(0.5s, 0.5s);
}
/* set the box sizing to border-box for layouts */
[data-theme="light"]{
  color-scheme: light;
}
[data-theme="dark"]{
  color-scheme: dark;
}
html {
  box-sizing: border-box;
  color-scheme: light;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transition: all 0.5s ease-in-out;
  text-align: center;
}
header{
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-between;
}
header > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8rem;
  /* margin-right: 10px; */
  padding: .8rem 1.5rem;
  border: 1px solid light-dark(var(--charcoal),var(--platinum));
  border-radius: 50px;
}
header > span  a{
  color: light-dark(var(--charcoal),var(--platinum));
  font-size: calc(var(--base-font-size) * 1.2);
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
/* Basic page set to our font size and font family. Link to the font family in CodePen under Settings - CSS - External stylesheets and pens. */
body {
  font-size: var(--base-font-size);
  font-family: var(--base-font);
  background-color: var(--ld-bkgd);
  color: var(--ld-text);
  transition: var(--ld-transition);
}
.themeSwicher{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 11rem;
}
.but{
  background-color: light-dark(var(--charcoal),var(--platinum));
  height: 2.5rem;
  width: 5rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.circle{
    height: 1.8rem;
    width: 1.8rem;
    background-color: light-dark(var(--platinum),var(--charcoal));
    border-radius: 50px;
    position: absolute;
    align-self: center;
}
.toggled{
  transform: translateX(2.4rem);
}
/* make sure images don't exceed the width of the window */
img {
  max-width: 100%;
  border-radius: var(--corners);
  box-shadow: 0px 0px 20px 2px var(--onyx);
}
h1 {
  font-size: calc(var(--base-font-size) * 2.7);
  /* text-align: center; */
  margin: 0;
  margin-top: 5px;
}
h2 {
  font-size: var(--base-font-size);
  text-transform: uppercase;
  /* text-align: center; */
  color: var(--ld-blue);
  letter-spacing: 0.25em;
  margin: 0;
}
h3 {
  margin: 0;
}
p {
  line-height: 1.5;
}
a {
  display: flex;
  height: max-content;
  color: var(--ld-blue);
  font-weight: bold;
}
a:hover {
  color: var(--marina);
}
.in-mobile{
  display: grid;
}
.in-desktop{
  display: none;
}
.project-type{
  color: var(--marina);
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 20px 5px;
  padding: 0;
}
.project-type li {
  width: -webkit-fill-available;
  border-bottom: 1px solid var(--marina);
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active{
  border: 1px solid var(--windsurfing);
  background-color: var(--marina);
  color: var(--platinum);
  height: 40px;
}

/* svg styling */
.icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
}
ul svg {
  width: 40px;
  height: 40px;
}
.social {
  fill: var(--ld-blue);
}
.social:hover {
  fill: var(--marina);
}
/* mobile layout for bio */
.main-article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.main-article img {
  object-fit: cover;
  object-position: top;
  height: 175px;
  width: 300px;
  overflow: hidden;
  margin: 0 auto;
}
/* projects */
main {
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.projects {
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
}
.project {
  background-color: var(--ld-projects);
  padding: 3rem;
  border-radius: var(--corners);
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
.project ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}
.project li {
  background-color: var(--marina);
  color: var(--white);
  padding: 0.5rem;
  border-radius: var(--corners-sm);
  font-size: calc(var(--base-font-size) * 0.85);
}
.project img {
  grid-row: 1/2;
}
.img-border {
  border: 1px solid var(--onyx);
}

/* footer */
footer {
  text-align: center;
}
.footer-text {
  color: var(--ld-text);
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.footer-text h3 {
  font-size: calc(var(--base-font-size) * 0.85);
}
.footer-text-box ul {
  font-size: calc(var(--base-font-size) * 0.85);
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-text-box li {
  line-height: 2;
}
.h2-footer {
  margin: 2rem 0;
}
.footer-text .social {
  fill: var(--ld-text);
}
.footer-text .social:hover {
  fill: var(--marina);
}
@media (min-width: 780px) {
  *{
    text-align: justify;
  }
  :root {
    --base-font-size: 1.125rem;
  }
  h1 {
    font-size: calc(var(--base-font-size)*2);
    margin-top: 15px;
    margin-left: -3px;
  }
  .main-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .project .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-article img {
    max-height: 400px;
    margin: 35px auto;
    height: auto;
    width: auto;
    overflow: auto;
  }
  .icons {
    justify-content: center;
  }
  footer {
    text-align: right;
  }
  .footer-text {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-text .icons {
    grid-column: 1/4;
  }
}
@media (min-width: 850px) {
  .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .project img {
    grid-row: auto;
  }
  .project ul {
    justify-content: flex-start;
  }
  .in-mobile{
    display: none;
  }
  .in-desktop{
    display: grid;
  }
}
@media (max-width: 500px){
  .project-type li {
    width: auto;
    padding: 0 7px;
  }
}
.panel-not-active{
  display: none;
}